

a{
    text-decoration: none;
}

li{
    list-style-type:none;
    display: inline;
   
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    }

    table,tr,th,td {
  border: 1px solid black;
   }

   table{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width:50% */
    position: relative;
    left:200px;
    top:25px;

   }

